.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log

.DS_Store
dist
.cache
.turbo

tests/server/static
tests/server/static/upload

server/.local
# local env files
.env
.env.local
.env.*.local
.eslintcache


# Log files
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/pnpm-debug.log*

# Editor directories and files
.idea
# .vscode
server/*.suo
server/*.ntvs*
server/*.njsproj
server/*.sln
server/*.sw?

server/package-lock.json
server/pnpm-lock.yaml

server/.history

uploads
