.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log

.obsidian
.DS_Store
dist
.cache
.turbo

app/server/.vscode/sftp.json
.build/.vscode/sftp.json
docs/.vitepress/cache
cache
docs/.obsidian
stats.html
