html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Gilroy-regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html.dark {

}
*::selection{
      background-color: rgb(225, 234, 255);

}
